# Packages
node_modules/
vendor/

# Public Build Artifacts
public/build/
public/hot/
public/storage/
storage/*.key
.phpunit.result.cache

# Environment
.env
.env.backup
.env.production
.php-cs-fixer.cache
.phpunit.cache

# Testing
tests/Feature/
tests/Unit/

# System
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
.vscode/
.idea/
*.log
.DS_Store
Thumbs.db
